h1{
  background-image:url('field.jpg');
  background-size:100% 100%;
  text-align:center;
  padding:80px;
  color:white;
  font-size:30px;
  margin:0;
}
#headimage{
  margin:0;
}
#list{
  font-size:25px;
  border-right:1px solid black;
}
#grid{
  display:grid;
  grid-template-columns:150px 1fr;
}
#index_explanation{
  padding:10px;
  padding-left:30px;
}
a{
  color:black;
  text-decoration:none;
}
dt{
  padding:10px;
}
