html, body{
  height:100%;
}
body{
  padding:0 90px 100px;
  margin:0 auto;
}
h1{
  text-align:center;
  padding:80px;
  color:black;
  font-size:30px;
  margin:0;
  border-bottom:1px dashed black
}
#headimage{
  margin:0;
}
#list{
  display:grid;
  margin:0;
  border-right:1px solid black;
  height:100%;
  width:150px;
}
#first_list{
  margin-top:10px;
}
#grid{
  display:grid;
  grid-template-columns:150px 1fr;
}
#index_explanation{
  display:inline-block;
  padding:10px;
  padding-left:30px;
  height:100%;
}
#list dt{
  padding:10px;
}
a{
  color:black;
  text-decoration:none;
}
.x_image{
  top:-30px;
  left:10px;
  position:relative;
}
.player_search{
  text-align:right;
}
.search{
  margin-top:10px;
  display:inline;
}
.tables{
  margin-top:20px;
  width:900px;
  table-layout:fixed;
}
.table_header{
  background-color: grey;
  color:white;
  font-size:20px;
}
.top_links{
  text-align:center;
}
.top_links a{
  margin-left:30px;
  font-weight:bold;
}
